In [ ]:
# Extracting and cleaning user data
import sqlalchemy
import pandas as pd
import yaml
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# Create instances of the classes
db_connector_instance = DatabaseConnector('db_creds.yaml')
data_cleaning_instance = DataCleaning()
engine = db_connector_instance.init_db_engine()

if engine.connect():
# Create an instance of the DataExtractor class
    data_extractor_instance = DataExtractor()

# Specifying table
    table_name = 'legacy_users'  

# Calling the read_rds_table method with the db_connector_instance and table_name
    fresh_user_data_df = data_extractor_instance.read_rds_table(db_connector_instance, table_name)
    display(fresh_user_data_df)
    fresh_user_data_df.info()


#  Cleaning the DataFrame
    user_data_df = data_cleaning_instance.clean_user_data(fresh_user_data_df)
    display(user_data_df)
    engine.dispose()
    
    upload = db_connector_instance.upload_to_db(user_data_df, 'dim_users')

In [ ]:
none_val = fresh_user_data_df['phone_number'].isna()
print(none_val)

In [ ]:
# Extracting and clean card data
import sqlalchemy
import pandas as pd
import tabula
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# Create instances of the classes
data_extractor_instance = DataExtractor()
data_cleaning_instance = DataCleaning()
db_connector_instance = DatabaseConnector('db_creds.yaml')

# Link of pdf file
link = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"

# Calling retrieve_pdf_data method 
fresh_pdf_df = data_extractor_instance.retrieve_pdf_data(link)
fresh_pdf_df.info()




# Clean pdf_df
pdf_df = data_cleaning_instance.clean_card_data(fresh_pdf_df)
pdf_df.info()
display(pdf_df)
#pdf_df2 = pdf_df1.dropna(subset=['card_number', 'expiry_date'], how='all', inplace=True)

#pdf_df1.dropna(inplace=True)
#display(pdf_df1)
#pdf_df.info()

# Uploading dim_card_details to database
upload = db_connector_instance.upload_to_db(pdf_df, 'dim_card_details')

In [ ]:
# Returning number of stores to extract
import sqlalchemy
import pandas as pd
import tabula
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# Initializing class instances
data_extractor_instance = DataExtractor()
data_cleaning_instance = DataCleaning()
db_connector_instance = DatabaseConnector('db_creds.yaml')


header = {'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'}
link = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'

# Calling method to obtain list

number_of_stores_json = data_extractor_instance.list_number_of_stores(link,header)

print(number_of_stores_json)

In [ ]:
# Extracting data from stores
import sqlalchemy
import pandas as pd
import tabula
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# Initializing class instances
data_extractor_instance = DataExtractor()
data_cleaning_instance = DataCleaning()
db_connector_instance = DatabaseConnector('db_creds.yaml')

link = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/'

store_data = data_extractor_instance.retrieve_stores_data(link)
display(store_data)
store_data.info()

cleaned_store_data = data_cleaning_instance.clean_store_data(store_data)
display(cleaned_store_data)
#clean_store_data.info()

In [ ]:
# Uploading dim_store_details to database
upload = db_connector_instance.upload_to_db(cleaned_store_data, 'dim_store_details')

In [1]:
# Extracting product details
import sqlalchemy
import pandas as pd
import tabula
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# Initializing class instances
data_extractor_instance = DataExtractor()
data_cleaning_instance = DataCleaning()
db_connector_instance = DatabaseConnector('db_creds.yaml')

link = 's3://data-handling-public/products.csv'

product_data = data_extractor_instance.extract_from_s3(link)
product_data_in_kg = data_cleaning_instance.convert_product_weights(product_data)
cleaned_product_data = data_cleaning_instance.clean_product_data(product_data_in_kg)

# Uploading to database
upload = db_connector_instance.upload_to_db(cleaned_product_data, 'dim_products')

Data uploaded to table 'dim_products' successfully.

In [1]:
# Extracting and cleaning orders table data
import sqlalchemy
import pandas as pd
import yaml
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

# Create instances of the classes
db_connector_instance = DatabaseConnector('db_creds.yaml')
data_cleaning_instance = DataCleaning()
engine = db_connector_instance.init_db_engine()

if engine.connect():
# Create an instance of the DataExtractor class
    data_extractor_instance = DataExtractor()

# Specifying table
    table_name = 'orders_table'  

# Calling the read_rds_table method with the db_connector_instance and table_name
    fresh_orders_df = data_extractor_instance.read_rds_table(db_connector_instance, table_name)
    display(fresh_orders_df)
    fresh_orders_df.info()


#  Cleaning the DataFrame
    orders_df = data_cleaning_instance.clean_orders_data(fresh_orders_df)
    display(orders_df)
    engine.dispose()
    

    upload = db_connector_instance.upload_to_db(orders_df, 'orders_table')

,level_0,index,date_uuid,first_name,last_name,user_uuid,card_number,store_code,product_code,1,product_quantity
0,0,0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,None,None,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,NaN,3
1,1,1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,None,None,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,NaN,2
2,2,2,65187294-bb16-4519-adc0-787bbe423970,None,None,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,NaN,2
3,3,3,579e21f7-13cb-436b-83ad-33687a4eb337,None,None,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,NaN,2
4,4,4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,None,None,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...
120118,110549,110548,f0e8fff6-9998-4661-954b-0e258e09d33c,None,None,95c74b0a-d495-4359-b1c0-e2da511e8403,575421945446,KA-FA7ED3B8,C9-6827622o,NaN,4
120119,82164,82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,None,None,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,NaN,1
120120,97599,97599,58598aca-049c-418e-8e39-46327634a7f1,Sharon,Miller,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,NaN,4
120121,106591,106591,3a76f661-0707-4fbc-9862-f21d3249f581,None,None,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,NaN,4
120122,118806,118804,98fdc8b3-f619-4471-86b4-f44c26880166,None,None,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,NaN,3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120123 entries, 0 to 120122
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   level_0           120123 non-null  int64
 1   index             120123 non-null  int64
 2   date_uuid         120123 non-null  object
 3   first_name        15284 non-null   object
 4   last_name         15284 non-null   object
 5   user_uuid         120123 non-null  object
 6   card_number       120123 non-null  int64
 7   store_code        120123 non-null  object
 8   product_code      120123 non-null  object
 9   1                 0 non-null       float64
 10  product_quantity  120123 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 10.1+ MB

,index,date_uuid,user_uuid,card_number,store_code,product_code,product_quantity
0,0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,3
1,1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,2
2,2,65187294-bb16-4519-adc0-787bbe423970,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,2
3,3,579e21f7-13cb-436b-83ad-33687a4eb337,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,2
4,4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,2
...,...,...,...,...,...,...,...
120118,110548,f0e8fff6-9998-4661-954b-0e258e09d33c,95c74b0a-d495-4359-b1c0-e2da511e8403,575421945446,KA-FA7ED3B8,C9-6827622o,4
120119,82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,1
120120,97599,58598aca-049c-418e-8e39-46327634a7f1,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,4
120121,106591,3a76f661-0707-4fbc-9862-f21d3249f581,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,4
120122,118804,98fdc8b3-f619-4471-86b4-f44c26880166,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,3

Data uploaded to table 'orders_table' successfully.

In [1]:
# Extracting and clean date time data
import sqlalchemy
import pandas as pd
import tabula
import requests
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning


# Create instances of the classes
data_extractor_instance = DataExtractor()
data_cleaning_instance = DataCleaning()
db_connector_instance = DatabaseConnector('db_creds.yaml')

# Link of json file
link = "https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json"

# Calling retrieve_pdf_data method 
response = requests.get(link)
json_data = response.json()

# Load data into pandas dataframe

fresh_dt_df = pd.DataFrame(json_data)
display(fresh_dt_df)

# Clean dt_df
dt_df = data_cleaning_instance.clean_date_time_data(fresh_dt_df)
display(dt_df)


# Uploading dim_card_details to database
upload = db_connector_instance.upload_to_db(dt_df, 'dim_date_times')

,timestamp,month,year,day,time_period,date_uuid
0,22:00:06,9,2012,19,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad
1,22:44:06,2,1997,10,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa
2,10:05:37,4,1994,15,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3,17:29:27,11,2001,6,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4,22:40:33,12,2015,31,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
...,...,...,...,...,...,...
120156,22:56:56,11,2022,12,Evening,d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157,18:25:20,5,1997,31,Evening,f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158,18:21:40,9,2011,13,Evening,4a3b9851-52e1-463c-ac81-1960f141444e
120159,19:10:53,7,2013,12,Evening,64974909-0d4b-42a2-822a-73b5695e8bfb
120160,21:17:12,3,2008,18,Evening,55c228c7-14ee-4d46-99a9-01dfc57d1adf

/Users/armandkush/multinational-retail-data-centralisation/multinational-retail-data-centralisation/data_cleaning.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['time_period'] = input_df['time_period'].astype(str)
/Users/armandkush/multinational-retail-data-centralisation/multinational-retail-data-centralisation/data_cleaning.py:208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df.rename(columns = {'timestamp':'time'}, inplace=True)
/Users/armandkush/multinational-retail-data-centralisation/multinational-retail-data-centralisation/data_cleaning.py:211: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['timestamp'] = pd.to_datetime(input_df[['year', 'month','day']].assign(hour = input_df['time'].str.split(':').str[0].astype('int64'), minute = input_df['time'].str.split(':').str[1].astype('int64'), second = input_df['time'].str.split(':').str[2].astype('int64')))

,time,month,year,day,time_period,date_uuid,timestamp
0,22:00:06,9,2012,19,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad,2012-09-19 22:00:06
1,22:44:06,2,1997,10,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa,1997-02-10 22:44:06
2,10:05:37,4,1994,15,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31,1994-04-15 10:05:37
3,17:29:27,11,2001,6,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8,2001-11-06 17:29:27
4,22:40:33,12,2015,31,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44,2015-12-31 22:40:33
...,...,...,...,...,...,...,...
114196,22:56:56,11,2022,12,Evening,d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7,2022-11-12 22:56:56
114197,18:25:20,5,1997,31,Evening,f7722027-1aae-49c3-8f8d-853e93f9f3e6,1997-05-31 18:25:20
114198,18:21:40,9,2011,13,Evening,4a3b9851-52e1-463c-ac81-1960f141444e,2011-09-13 18:21:40
114199,19:10:53,7,2013,12,Evening,64974909-0d4b-42a2-822a-73b5695e8bfb,2013-07-12 19:10:53
114200,21:17:12,3,2008,18,Evening,55c228c7-14ee-4d46-99a9-01dfc57d1adf,2008-03-18 21:17:12

Data uploaded to table 'dim_date_times' successfully.